


// COLORS
$color-primary: #1f2320;
$color-primary-light: #393939;
$color-primary-dark: #121212;

$color-gold-2:  #e8b563;
$color-gold-1: #CFAF7D;

$color-white: #fff;
$color-black: #000;
$color-grey-dark-3: #ccc;

// FONT
$default-font-size: 1.6rem;
$font-source-code-pro: 'Source Code Pro', monospace;
$font-quicksand: 'Quicksand', sans-serif;


// Media query breakpoints

$laptop-big : 75em;
$laptop-medium: 56.25em;